:root {
    --main-color: #ff9800
}
* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;   
}
.heading {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.heading h2 {
    padding: 20px;
    width: fit-content;
    font-weight: bold;
    font-size: 40px;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 15px 15px 5px 5px;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* smale */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.settings-box {
    position: fixed;
    right: -200px;
    top: 0;
    background-color: #fff;
    width: 200px;
    z-index: 999;
    height: 100vh;
    transition: .3s;
}
.settings-box.open {
    right: 0;
}
.settings-box .toggle-settings {
    position: absolute;
    left: -30px;
    top: 150px;
    color: black;
    background-color: #ccc;
    text-align: center;
    cursor: pointer;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 4px;
}
.settings-box .toggle-settings .fa-gear {
    line-height: inherit;
    padding: 8px 0;
    width: 30px;
}
.option-box{
    padding: 10px;
    background-color: #dfdfdf;
    border-radius: 15px 15px 8px 8px;
    margin: 10px;
    text-align: center;
}
.settings-box .option-box h4{
    margin: 0;
    color: #333;
    font-size: 14px;
}

.settings-box .option-box .colors-list {
    background-color: #dfdfdf;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 15px 15px 8px 8px;
    text-align: center;
    list-style: none;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: .7;
    cursor: pointer;
}
.settings-box .option-box .colors-list li {
    width: 24px;
    height: 14px;
    border-radius: 15px 15px 15px 15px;
    opacity: 0.6;
}
.settings-box .option-box .colors-list li.active{
    opacity: 1;
    height: 24px; 
    border-bottom-right-radius: 4px; 
    border-bottom-left-radius: 4px;
}
.settings-box .option-box .colors-list li:first-child{
    background-color: #ff9800;
}
.settings-box .option-box .colors-list li:nth-child(2) {
    background-color: #138f65;
}
.settings-box .option-box .colors-list li:nth-child(3) {
    background-color: #1871ff;
}
.settings-box .option-box .colors-list li:nth-child(4) {
    background-color: #E91E63;
}
.settings-box .option-box .colors-list li:nth-child(5) {
    background-color: #9b30ff;
}
.settings-box .option-box .yes,
.settings-box .option-box .no {
    width: 60px;
    display: inline-block;
    color: white;
    margin-top: 20px;
    font-size: 14px;
    padding: 7px 10px;
    border-radius: 15px 15px 8px 8px;
    opacity: 0.4;
    cursor: pointer;

}
.settings-box .option-box .yes{
background-color: blue;
margin-right: 10px;
}
.settings-box .option-box .no {
    background-color: red;
}
.settings-box .random-backgrounds span.active {
    opacity: 1;
}
/* start landing page */
.landing {
    min-height: 100vh;
    background-image: url(../imgs/01.jpg);
    background-size: cover;
    position: relative;
    background-position: center;
}
.landing .overlay {
    position: absolute;
    background-color: rgb(0 0 0 / 80%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.header {
    position: relative;
    z-index: 1;
    display: flex;
    /* padding: 15px; */
    color: white;
    border-bottom: 1px solid var(--main-color);
}
.header .logo {
    width: 300px;
    font-size: 30px;
    font-weight: 700;
    padding: 20px;
}
.header .links {
    display: flex;
    justify-content: right;
    align-items: center;
    list-style: none;
    flex: 1;
    margin: 0 20px;;
}
.header .links li {
    padding: 20px 0;
    margin-left: 15px;
    color: #fff;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
.header .links li a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
    padding: 15px;
    border-radius: 15px 15px 5px 5px;
    font-weight: bold;
    letter-spacing: 1.5px;
}
.header .links li a:hover,
.header .links li.active a {
    background-color: var(--main-color);
}
.header .links li:hover::after,
.header .links li.active::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    top: 100%;
    left: 0;
    background-color: #000;
}
.intro {
    z-index: 2;
    position: absolute;
    padding: 26px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
}
.intro h1 {
    font-size: 38px;
    margin: 0 0 35px;
}
.intro h1 span {
    color: var(--main-color);
}
.intro p {
    line-height: 1.6;
    font-size: 18px;
    margin: 0;
}
/* end landing page  */
/* start about us */
.about-us {
    padding-top: 100px;
    padding-bottom: 100px;
}
.content-box {
    display: flex;
    justify-content: space-between;
}
.about-us .info-box {
    flex: 1;
    padding: 60px 30px;
}
.about-us .info-box p {
    line-height: 1.8;
    color: #757575;
    margin: 0;
}
.about-us .image-box {
    flex: 1;
    text-align: right;
}
.about-us .image-box img{
    width: 500px;
}
/* end about us */
/* start skills */
.skills {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #ddd;
    position: relative;
    z-index: -2;
    overflow: hidden;
}
.skills:before {
    content: '';
    position: absolute;
    top: -8px;
    left: -7px;
    width: 232%;
    height: 175%;
    border-radius: 49% 36% 32% 47%;
    background-color: #aaa;
    opacity: 0.8;
    transform: rotate(-45);
    z-index: -1;
}
.skills .heading h2 {
    color: white;
    border-color: white;
    background-color: var(--main-color);
}
.skills-box {
    background-color: #fff;
    display: flex;
    padding: 35px 30px;
    margin-bottom: 25px;
    border-radius: 15px 15px 5px 5px;
}
.skills .skill-name {
    font-size: 15px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    width: 200px;
}
.skill-progress {
    height: 30px;
    width: 100%;
    background-color: #ddd;
    border-radius: 15px 15px 5px 5px;
    position: relative;
    margin-left: 20px;
    overflow: hidden;
    opacity: 1;
}
.skills .skills-box .skill-progress span {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 0;
    background-color: var(--main-color);
    transition: all 0.5s;
}
/* end skills */
/* start gallery */
.gallery {
    padding-top: 100px;
    padding-bottom: 100px;
}
.gallery .imgs-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gallery .imgs-box img{
    width: 220px;
    height: 220px;
    padding: 5px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 15px 15px 5px 5px;
    margin: 15px;
}
/* end gallery */


